/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Mate+SC&family=Ojuju:wght@200..800&display=swap');

/* Overrides default styling of the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling for body */
body {
    /* Styling the background image */
    background: url(/assets/images/clouds.jpg) no-repeat;
    background-color: rgba(255, 181, 154, 0.604);
    /* Centers everything in the body on the page */
    display: flex;
    justify-content: center;
}
#hero {
    font-family: 'Graduate', serif;
    color: whitesmoke;
    text-align: center;
}
#hero img {
    width: 20rem;
    margin-top: 168px;
}
/* Styling the position and size of the quiz name */
.quiz-name {
    position: absolute;
    top: 9%;
    left: 0%;
    font-size: 31px;
}
/* Styling the position of the challenge button */
#challenge {
    font-family: 'Mate SC', serif;
    font-size: 22px;
    position: absolute;
    top: 67%;
    left: 30%;
    z-index: 5;
}
#instructions {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 28px;
    text-align: center;
    left: 0%;
    right: -4%;
    font-size: 15px;
    position: absolute;
    top: 26%;
    height: 338px;
    z-index: 2;
}
#quiz {
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255,255, 0.5);
    top: 26%;
    left: 0%;
    height: 337px;
    font-size: 19px;
    font-family: 'Ojuju', sans-serif;
    line-height: 39px;
    padding-top: 49px;
}
ul{
    list-style: none;
}
#retry {
    font-family: 'Mate SC', serif;
    position: absolute;
    top: 480px;
    left: 10px;
}
#results {
    position: absolute;
    top: 26%;
    left: 0%;
    bottom: 22.5%;
    font-family: 'Mate SC', serif;
    font-size: 39px;
    text-align: center;
    line-height: 149px;
    background-color: rgba(255, 255,255, 0.4);
}
