/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Mate+SC&family=Ojuju:wght@200..800&display=swap');

/* Overrides default styling of the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling for body */
body {
    /* Styling the background image */
    background: url(../images/sunset-4086848_1280.png) no-repeat;
    background-color: rgba(255, 181, 154, 0.604);
    /* Centers everything in the body on the page */
    display: flex;
    justify-content: center;
    z-index: 6;
}

#hero {
    font-family: 'Graduate', serif;
    color: whitesmoke;
    text-align: center;
}

#hero img {
    width: 21rem;
    margin-top: 168px;
}

/* Styling the position and size of the quiz name */
.quiz-name {
    position: absolute;
    top: 3%;
    left: 0%;
    padding: 5px;
    font-size: 38px;
}

/* Styling the position of the challenge button */
#challenge {
    font-family: 'Mate SC', serif;
    font-size: 22px;
    position: absolute;
    top: 75%;
    left: 32%;
    z-index: 5;
}

#instructions {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 28px;
    text-align: center;
    left: 0%;
    right: -5%;
    color: black;
    font-size: 15px;
    position: absolute;
    top: 169px;
    height: 355px;
    z-index: 4;
}

.direction {
    position: relative;
    top: 10px;
    font-size: 32px;
}

.enjoy {
    position: relative;
    bottom: -30px;
    font-size: 32px;
}

#instructions>ol {
    position: relative;
    color: black;
    top: 26px;
}

#quiz {
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    top: 169px;
    left: 0%;
    right: -6%;
    height: 355px;
    font-size: 19px;
    font-family: 'Ojuju', sans-serif;
    line-height: 39px;
    padding-top: 49px;
    z-index: 4;
}

#quiz p {
    top: -38px;
    font-size: 24px;
    position: relative;
    left: -9px;
    padding: 23px;
}

#quiz li:hover {
    color: white;
}

#quiz ul {
    margin-top: 10px;
    left: -10px;
    position: relative;
    top: -46px;
    font-size: 22px;
}

ul {
    list-style: none;
}

#retry {
    font-family: 'Mate SC', serif;
    position: absolute;
    top: 440px;
    left: 10px;
}

#results {
    position: absolute;
    top: 189px;
    left: -6%;
    right: -6%;
    bottom: 22.5%;
    height: 355px;
    font-family: 'Mate SC', serif;
    font-size: 57px;
    text-align: center;
    line-height: 149px;
    background-color: rgba(255, 255, 255, 0.15);
}

#retry {
    font-family: 'Mate SC', serif;
    font-size: 22px;
    position: absolute;
    top: 75%;
    left: 132px;
}

/* Media screen for larger mobile phones */
@media screen and (min-width: 375px) {
    #hero img {
        position: relative;
        left: -3%;
        width: 406px;
        margin-top: 176px;
    }

    .quiz-name {
        top: 4%;
        left: -1%;
        font-size: 39px;
    }

    #instructions {
        color: black;
        top: 176px;
        left: -4%;
        height: 430px;
        line-height: 31px;
        padding: 59px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #challenge {
        top: 86%;
        left: 33%;
    }

    #quiz {
        color: black;
        top: 177px;
        left: 0%;
        right: 0px;
        height: 430px;
        line-height: 55px;
        padding: 55px;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #quiz p {
        color: black;
        top: -39px;
        font-size: 21px;
        padding: 0;
    }

    #results {
        top: 177px;
        left: 0%;
        right: 0%;
        height: 429px;
        font-size: 56px;
        line-height: 188px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #retry {
        top: 82%;
        left: 40%;
    }
}

/* Media screen for tablets and larger */
@media screen and (min-width: 768px) {
    #hero img {
        width: 31rem;
        margin-top: 72px;
    }

    .quiz-name {
        top: 1%;
        left: 2%;
        font-size: 37px;
    }

    #instructions {
        color: black;
        top: 73px;
        left: 16%;
        right: 20%;
        height: 524px;
        line-height: 47px;
    }

    #challenge {
        top: 82%;
        left: 41%;
    }

    #quiz {
        color: black;
        top: 73px;
        left: 16%;
        right: 154px;
        height: 524px;
        line-height: 100px;
        z-index: 3;
    }

    #quiz ul {
        line-height: 51px;
    }

    #results {
        top: 73px;
        left: 16%;
        right: 20%;
        height: 524px;
        font-size: 81px;
        line-height: 249px;
    }

    #retry {
        top: 80%;
        left: 45%;
    }
}

/* Media screen for laptops min width of 1440px */
@media screen and (min-width: 1440px) {
    body {
        background-size: cover;
    }

    #hero img {
        width: 33rem;
        margin-top: 83px;
    }

    .quiz-name {
        top: 1%;
        left: 14%;
        font-size: 53px;
    }

    #instructions {
        color: black;
        top: 12.5%;
        left: 442px;
        right: 33%;
        font-size: 19px;
        height: 560px;
        line-height: 45px;
    }

    #challenge {
        top: 84%;
        left: 43%;
        font-size: 34px;
    }

    #quiz {
        color: black;
        top: 12.5%;
        left: 442px;
        right: 475px;
        height: 558px;
        line-height: 139px;
        z-index: 3;
    }

    #quiz p {
        top: 10%;
        line-height: 43px;
        font-size: 37px;
    }

    #quiz ul {
        top: 23%;
        font-size: 42px;
    }

    #results {
        top: 12.5%;
        left: 442px;
        right: 33%;
        height: 558px;
        font-size: 63px;
        line-height: 396px;
    }

    #retry {
        top: 79%;
        left: 45%;
        font-size: 43px;
    }
}