/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Mate+SC&family=Ojuju:wght@200..800&display=swap');

/* Overrides default styling of the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling for body */
body {
    /* Styling the background image */
    background: url(/assets/images/clouds.jpg) no-repeat;
    background-color: rgba(255, 181, 154, 0.604);
    /* Centers everything in the body on the page */
    display: flex;
    justify-content: center;
}
#hero {
    font-family: 'Graduate', serif;
    color: whitesmoke;
    text-align: center;
}
#hero img {
    width: 19rem;
    margin-top: 160px;
}
#instructions {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 28px;
    text-align: center;
    left: -3%;
    font-size: 14px;
    position: absolute;
    top: 26%;
}
/* Styling the position of the challenge button */
#challenge {
    font-family: 'Mate SC', serif;
    font-size: 22px;
    position: absolute;
    top: 67%;
    left: 30%;
}
/* Styling the position and size of the quiz name */
.quiz-name {
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 31px;
}

